<div class="container">
    <div class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">&copy; 2018-2019 Óscar Soto Sánchez</small>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="https://github.com/OscarSotoSanchez">Github</a>
                    </li>
                    <li>
                        <a class="text-muted" href="https://www.linkedin.com/in/oscarsotosanchez">Linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>