<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Usuario</h1>

    <div class="container">
        <div class="mt-3">
            <p *ngIf="wrongUser">El usuario introducido no existe.</p>

            <form *ngIf="!wrongUser" (ngSubmit)="formSubmit(name.value, surname.value, age.value)">
                <div class="row">
                    <div *ngIf="!isNew" class="form-group col-md-12">
                        <div class="center-input">
                            <label for="inputZip">Id</label>
                            <input type="text" class="form-control text-center" value="{{(user | async)?.id}}" disabled/>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="firstName">Nombre</label>
                        <input #name [formControl]="userValidation.controls['name']" type="text" class="form-control" placeholder="Escribe tu nombre"
                            value="{{(user | async)?.name}}" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="lastName">Apellidos</label>
                        <input #surname [formControl]="userValidation.controls['surname']" type="text" class="form-control" placeholder="Escribe tu apellido"
                            value="{{(user | async)?.surname}}" />
                    </div>

                    <div class="form-group col-md-12">
                        <div class="center-input">
                            <label for="inputZip">Edad</label>
                            <input #age [formControl]="userValidation.controls['age']" type="text" class="form-control text-center" placeholder="Escribe tu edad"
                                value="{{(user | async)?.age}}" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="center-input">
                            <input *ngIf="!isDisabled()" [disabled]="!userValidation.valid" value="Aceptar" type="submit" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <br/>
        <a [routerLink]="['/usuarios']" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Lista</a>
        <a *ngIf="isView && !wrongUser" [routerLink]="['/usuario/editar', userId]" class="btn btn-primary btn-md active" role="button"
            aria-pressed="true">Editar</a>
        <a *ngIf="isView && !wrongUser" [routerLink]="" (click)="openDeleteUserDialog(delete, userId)" class="btn btn-primary btn-md active"
            role="button" aria-pressed="true">Borrar</a>
    </div>
</div>

<ng-template #delete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">¿Seguro que desea borrar el usuario?</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteUserDialogYes(); c('Close click')">Si</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">No</button>
    </div>
</ng-template>