<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Listado Usuarios</h1>

    <div class="container">
        <div class="mt-3">
            <div class="list-group">
                <p *ngIf="users.length == 0">No hay ningún usuario en la base de datos.</p>
                <div *ngFor="let user of users" class="list-group-item">
                    <div class="list name">
                        <a [routerLink]="['/usuario', user.id]">{{user.name}} {{user.surname}}</a>
                    </div>

                    <div class="list options">
                        <a [routerLink]="['/usuario/editar', user.id]" class="ion-edit"></a>
                        &nbsp;&nbsp;
                        <a [routerLink]="" (click)="openDeleteUserDialog(delete, user.id)" class="ion-trash-b"></a>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <ngb-pagination class="d-flex justify-content-center" (pageChange)="loadPage($event)" [collectionSize]="elements" [(page)]="page"
            [directionLinks]="false" aria-label="Default pagination"></ngb-pagination>

        <a [routerLink]="['/usuario/nuevo']" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Añadir Usuario</a>
    </div>
</div>

<div class="popup-message">
    <ngb-alert *ngIf="removeUser" type="primary" (close)="closeAlert()">El usuario se ha borrado correctamente.</ngb-alert>
</div>

<ng-template #delete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">¿Seguro que desea borrar el usuario?</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteUserDialogYes(); c('Close click')">Si</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">No</button>
    </div>
</ng-template>