<div class="error">
	<div class="d-flex justify-content-center align-self-center flex-wrap h-50 w-100">
		<i class="p-2 ion-sad-outline align-self-center" style="font-size: 1200%;"></i>
		<div class="p-2 align-self-center flex-wrap">
			<h2>ERROR 404</h2>
			<p>
				Esta página no esta disponible en estos momentos o no existe, perdone las molestias
			</p>
			<a [routerLink]="" (click)="location.back()" class="scrollto justify-self-center">Volver</a>
		</div>
	</div>
<div>